<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="registrationform" ng-submit="vm.register()" role="form">
        <div class="form-group" ng-class="{ 'has-error': registrationform.username.$dirty && registrationform.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.user.UserName" required />
            <span ng-show="registrationform.username.$dirty && registrationform.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': registrationform.password.$dirty && registrationform.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.Password" required />
            <span ng-show="registrationform.password.$dirty && registrationform.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': registrationform.firstName.$dirty && registrationform.firstName.$error.required }">
            <label for="username">First name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="vm.user.FirstName" required />
            <span ng-show="registrationform.firstName.$dirty && registrationform.firstName.$error.required" class="help-block">First name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': registrationform.lastName.$dirty && registrationform.lastName.$error.required }">
            <label for="username">Last name</label>
            <input type="text" name="lastName" id="Text1" class="form-control" ng-model="vm.user.LastName" required />
            <span ng-show="registrationform.lastName.$dirty && registrationform.lastName.$error.required" class="help-block">Last name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': (registrationform.dob.$dirty && registrationform.dob.$error.required) || (registrationform.dob.$dirty && registrationform.dob.$error.pattern)}">
            <label for="dob">Date Of Birth</label>
            <input type="text" name="dob" id="dob" class="form-control" ng-model="vm.user.DOB" ng-pattern="/^(0[1-9]|1[012])\/(0[1-9]|1[0-9]|2[0-9]|3[01])\/(1[6-9][0-9][0-9])$/i"  required/>
          	<span ng-show="registrationform.dob.$dirty && registrationform.dob.$error.required" class="help-block">Date of birth is required</span>
            <span ng-show="registrationform.dob.$dirty && registrationform.dob.$error.pattern" class="help-block">Please enter correct date format MM/DD/YYYY</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': (registrationform.email.$dirty && registrationform.email.$error.required)  || (registrationform.email.$dirty && registrationform.email.$error.pattern)}">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="form-control" ng-model="vm.user.EmailAddress" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required />
            <span ng-show="registrationform.email.$dirty && registrationform.email.$error.required" class="help-block">Email is required</span>
            <span ng-show="registrationform.email.$dirty && registrationform.email.$error.pattern" class="help-block">Please enter a valid email</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': registrationform.address.$dirty && registrationform.address.$error.required }">
            <label for="dob">Address</label>
            <input type="text" name="address" id="address" class="form-control" ng-model="vm.user.Address" required />
            <span ng-show="registrationform.address.$dirty && registrationform.address.$error.required" class="help-block">Address is required</span>
        </div>
        <div class="form-group">
            <label for="questionId1">Question 1</label>
            <select type="text" name="questionId1" id="questionId1" class="form-control" ng-model="vm.Question1" ng-options="y.Question for (x, y) in vm.questionsListOne" required />
        	</div>
        <div class="form-group" ng-class="{ 'has-error': registrationform.answer1.$dirty && registrationform.answer1.$error.required }">
            <label for="dob">Answer 1</label>
            <input type="text" name="answer1" id="dob" class="form-control" ng-model="vm.user.Answer1" required />
            <span ng-show="registrationform.answer1.$dirty && registrationform.answer1.$error.required" class="help-block">Answer 1 is required</span>
        </div>
        <div class="form-group">
            <label for="questionId2">Question 2</label>
            <select type="text" name="questionId2" id="questionId2" class="form-control" ng-model="vm.Question2" ng-options="y.Question for (x, y) in vm.questionsListTwo |filter:{QuestionId : '!' +vm.Question1.QuestionId}" required />
        </div>
        <div class="form-group" ng-class="{ 'has-error': registrationform.answer2.$dirty && registrationform.answer2.$error.required }">
            <label for="dob">Answer 2</label>
            <input type="text" name="answer2" id="dob" class="form-control" ng-model="vm.user.Answer2" required />
            <span ng-show="registrationform.answer2.$dirty && registrationform.answer2.$error.required" class="help-block">Answer 2 is required</span>
        </div>
        <div class="form-group">
        		<input type="hidden" ng-model="vm.user.UserId" ng-init="vm.user.UserId=0"/>
        		<input type="hidden" ng-model="vm.user.UserTickerSymbols" ng-init="vm.user.UserTickerSymbols=[]"/>
        	</div>
        <div class="form-actions">
            <button type="submit" ng-disabled="registrationform.$invalid || vm.dataLoading"  class="btn btn-primary">Register</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a href="#!/login" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>

